# ===============================
# Ignore everything
# ===============================
*

# ===============================
# But keep these folders
# ===============================
!themes/
!plugins/

# ===============================
# Inside themes, ignore system files
# ===============================
themes/**/.DS_Store
themes/**/Thumbs.db
themes/**/*.log

# ===============================
# Inside plugins, ignore system files
# ===============================
plugins/**/.DS_Store
plugins/**/Thumbs.db
plugins/**/*.log
